In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [46]:
df = pd.read_csv('IMDB Dataset.csv')

In [47]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [48]:
df.sample()

                                                review sentiment
272  The message of a world on the brink of war is ...  positive

In [49]:
df.shape

(50000, 2)

In [50]:
df.dtypes

review       object
sentiment    object
dtype: object

In [51]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [52]:
df=df.sample(50)

In [53]:
df.shape

(50, 2)

In [54]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [55]:
df['sentiment'].replace({'positive':1,'negative':0}, inplace=True)

In [56]:
df.head()

                                                  review  sentiment
20145  The tragedy of the doomed ship Titanic has ins...          0
13741  I LOVE this movie. and Disney channel is ridic...          1
5737   Cowboys James Stewart and Walter Brennan take ...          1
49727  This is an "anthology" horror film. It's made ...          0
39409  With the death of GEORGE NADER, on 4 February ...          1

In [57]:
import re
clean = re.compile('<.*?>')
re.sub(clean,'',df.iloc[2].review)

"Cowboys James Stewart and Walter Brennan take their herd from Seattle to Alaska and on into Canada to stake a claim. Once there, they have to contend with seductive, shifty businesswoman Ruth Roman and ice-cold, happy-go-lucky villain James McIntire.John Wayne may get talked about more, but his good pal Stewart made some excellent, hard-edged westerns too, some with the great director Anthony Mann. Frankly, I'd take this, with it's sturdy action sequences and fine melodrama, over North To Alaska any day!The Far Country features some breathtaking scenery and cinematography that should definitely have been shot in widescreen.Also, there's some strong support by the always reliable Brennan, Roman (who's great), the incredibly cute Corrine Calvet, and James McIntire, who plays one of my favorite types of bad guy, the kind that doesn't take himself too seriously.This would make a great double-bill with another highly recommended Mann/Stewart northwest-set western, Bend Of The River."

In [58]:
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [59]:
df['review']=df['review'].apply(clean_html)

In [60]:
def covert_lower(text):
    return text.lower()

In [61]:
df['review']=df['review'].apply(covert_lower)

In [62]:
def remove_special(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [63]:
remove_special('To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons.')

'To add scientific notation  a way of writing numbers that allows you to write only as many digits  of specificity  as you would like  you can write 7 7   10   2 m3 of kerosene 1 204   10   3 m3 of O2 and 3 3   10   7 newtons '

In [64]:
df['review']=df['review'].apply(remove_special)

In [65]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vk394\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [66]:
from nltk.corpus import stopwords

In [67]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [68]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [69]:
df['review']=df['review'].apply(remove_stopwords)

In [70]:
df

                                                  review  sentiment
20145  [tragedy, doomed, ship, titanic, inspired, man...          0
13741  [love, movie, disney, channel, ridiculous, pla...          1
5737   [cowboys, james, stewart, walter, brennan, tak...          1
49727  [anthology, horror, film, made, 4, short, stor...          0
39409  [death, george, nader, 4, february, 2002, thou...          1
14455  [hilarious, sellers, funniest, shame, get, vid...          1
31328  [without, doubt, worst, movie, ever, seen, fun...          0
42954  [movie, fun, especially, 8, 15, frankie, muniz...          1
40504  [good, gets, six, episodes, tracing, briefly, ...          1
527    [ever, heard, saying, people, telegraph, inten...          0
1355   [huge, fan, comes, doctor, series, still, disa...          0
47529  [plot, line, expose, belly, american, politics...          1
48842  [trusted, instincts, better, expectations, dis...          0
6534   [norma, spent, 20s, playing, beautiful, ingenu...          1
30114  [set, 2017, although, one, might, easily, mist...          1
30143  [wow, curse, michael, myers, great, film, susp...          1
35453  [despite, negative, comments, film, garnered, ...          1
29106  [columbo, unique, really, know, exact, outcome...          1
37986  [name, identity, memories, lost, girlfriend, w...          1
39425  [ccmovieman, 1, must, reviewer, new, york, tim...          1
40872  [like, movie, least, vestige, story, occur, mo...          0
8283   [sure, expect, glad, went, see, smart, slightl...          1
21225  [hollywood, hotel, relationships, many, films,...          1
5017   [one, favorite, movies, childhood, watched, ma...          1
42642  [movie, simply, awesome, hilarious, although, ...          1
36976  [movie, awful, even, know, begin, speechless, ...          0
3000   [bought, set, 4, dvds, 10, bucks, local, sunco...          0
38061  [seen, four, japanese, horror, films, impressi...          0
10610  [may, say, johnson, elvis, work, possible, see...          0
40694  [excellent, family, movie, gives, lot, think, ...          1
19204  [excellent, idea, scenery, beautiful, ends, se...          0
47329  [featured, 2006, cannes, film, festival, gaini...          1
26510  [first, saw, picked, suggestion, tivo, system,...          0
37041  [dashing, errol, flynn, brings, usual, flair, ...          1
20715  [massive, hitchcock, fan, ever, since, seeing,...          1
33539  [always, suprised, different, people, almost, ...          0
48253  [movie, took, jerry, springer, approach, super...          1
31436  [back, mid, late, 80s, oav, anime, title, bubb...          1
44875  [come, worse, time, nation, entering, reagan, ...          1
39598  [film, friðrik, þór, director, children, natur...          1
13614  [sweden, seen, movie, thing, thought, okay, se...          1
37195  [chess, movies, made, last, couple, years, one...          1
39318  [strained, comedy, sketch, like, revue, initia...          0
19611  [direction, wong, perhaps, time, worst, film, ...          0
14052  [reason, norliss, tapes, deserves, stars, pres...          0
1375   [skimming, list, films, richard, burton, came,...          0
18405  [saw, detroit, must, original, run, literally,...          1
49050  [movie, clumsy, mishmash, various, ghost, stor...          0
37427  [mistress, craft, celeste, works, agent, londo...          0
28689  [canto, 1, kriemhild, mourned, siegfried, king...          1

In [71]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [72]:
y=[]
def steam_word(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [73]:
steam_word(['i','play','playing','it'])

['i', 'play', 'play', 'it']

In [74]:
df['review']=df['review'].apply(steam_word)

In [75]:
#join back
def join_back(list_input):
    return " ".join(list_input)

In [76]:
df['review']=df['review'].apply(join_back)

In [77]:
df['review']

20145    tragedi doom ship titan inspir mani book movi ...
13741    love movi disney channel ridicul play anymor t...
5737     cowboy jame stewart walter brennan take herd s...
49727    antholog horror film made 4 short stori taken ...
39409    death georg nader 4 februari 2002 thought inte...
14455    hilari seller funniest shame get video even se...
31328    without doubt worst movi ever seen funni inter...
42954    movi fun especi 8 15 franki muniz amanda byne ...
40504    good get six episod trace briefli life may lik...
527      ever heard say peopl telegraph intent well mov...
1355     huge fan come doctor seri still disappoint beg...
47529    plot line expos belli american polit theme see...
48842    trust instinct better expect disappoint instea...
6534     norma spent 20 play beauti ingenu first talki ...
30114    set 2017 although one might easili mistak 1987...
30143    wow curs michael myer great film suspens enter...
35453    despit neg comment film garner imdb page still...
29106    columbo uniqu realli know exact outcom end fav...
37986    name ident memori lost girlfriend want disappe...
39425    ccmovieman 1 must review new york time prefer ...
40872    like movi least vestig stori occur movi seri v...
8283     sure expect glad went see smart slightli twist...
21225    hollywood hotel relationship mani film like el...
5017     one favorit movi childhood watch mani time eve...
42642    movi simpli awesom hilari although skate monta...
36976    movi aw even know begin speechless even descri...
3000     bought set 4 dvd 10 buck local suncoast contai...
38061    seen four japanes horror film impress howev co...
10610    may say johnson elvi work possibl seem like te...
40694    excel famili movi give lot think absolut noth ...
19204    excel idea sceneri beauti end seem like lacklu...
47329    featur 2006 cann film festiv gain quit fame mo...
26510    first saw pick suggest tivo system like danni ...
37041    dash errol flynn bring usual flair drama histo...
20715    massiv hitchcock fan ever sinc see rear window...
33539    alway supris differ peopl almost everi movi ge...
48253    movi took jerri springer approach super human ...
31436    back mid late 80 oav anim titl bubblegum crisi...
44875    come wors time nation enter reagan year boom b...
39598    film friðrik þór director children natur power...
13614    sweden seen movi thing thought okay seen mani ...
37195    chess movi made last coupl year one chess movi...
39318    strain comedi sketch like revu initi vehicl sh...
19611    direct wong perhap time worst film histori eve...
14052    reason norliss tape deserv star presenc angi d...
1375     skim list film richard burton came titl recal ...
18405    saw detroit must origin run liter roll aisl th...
49050    movi clumsi mishmash variou ghost stori suspen...
37427    mistress craft celest work agent london branch...
28689    canto 1 kriemhild mourn siegfri king attila wo...
Name: review, dtype: object

In [78]:
X=df.iloc[:,0:1].values

In [79]:
X.shape

(50, 1)

In [80]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5)

In [81]:
X= cv.fit_transform(df['review']).toarray()

In [82]:
X.shape

(50, 5)

In [83]:
Make_data_frame = pd.DataFrame(X)

In [84]:
Make_data_frame.to_csv('convert_to_numpy.csv',header=False,index=False)

In [85]:
X[0].max()

6

In [86]:
Y=df.iloc[:,-1].values

In [87]:
Y.shape

(50,)

In [88]:
# now train your model